* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #444;
    background-color: #eaeaea;
}

header {
    background-color: #4a90e2; /* Color de fondo del header */
    padding: 20px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700; /* Color al pasar el ratón */
}

section {
    margin: 30px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #e74c3c; /* Color para los títulos */
    margin-bottom: 15px;
}

form {
    margin: 15px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5cb85c; /* Color de fondo del botón */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c; /* Color al pasar el ratón por el botón */
}

img {
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

main {
    padding: 30px;
    max-width: 900px; /* Ajusta el ancho máximo según lo que necesites */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: left; /* Alineación del texto a la izquierda */
}
